@model SportsStore.WebUI.Models.ProductsListViewModel
@using SportsStore.WebUI.HtmlHelpers;

@{
   ViewBag.Title = "Products";
}

@foreach (var product in Model.Products)
{
   Html.RenderPartial("ProductSummary", product);
}
<div class="pager">
   @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

